GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# On UNIX systems you can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=

# Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_PLAN_STARTER=
STRIPE_PLAN_ADVANCED=

BASE_URL=

# Email
SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
EMAIL_FROM=

# Database
DATABASE_URL=
